.word {
    line-height: 56px;
    height: 56px;
    width: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

.word:nth-child(1),
.word:nth-child(3) {
    margin-left: 80%;
}

.letter {
    display: inline-block;
    width: calc(1em * 0.6);
    overflow: hidden;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 100%;
    padding-right: 15%;
    position: relative;
    align-self: center;
}

.audio-toggle-btn {
    border: none;
    background: none;
    color: inherit;
    font-size: 50%;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    opacity: 0.75;
    cursor: pointer;
}
