@font-face {
  font-family: HACKED;
  src: url("../fonts/Hacked-KerX.ttf") format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: HACKED, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

